*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #C47AC0;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
 
} 

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    font-size: 8vmin;
    color: #2f323a;
    background-color: #debac0;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(94, 26, 26);
    margin-top: 2rem;
    color: yellow;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(228, 79, 79);
    color: rgb(5, 5, 1);

}

#msg{
    color: aqua;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}

.X{
    color: red;
}

.O{
    color: yellowgreen;
}